* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgb(253, 233, 119),
    rgb(247, 167, 130)
  );
  display: flex;
  justify-content: center;

  align-items: center;
}
.buttons {
  position: absolute;
  top: 10px;
  left: 10px;
}
button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(4, 175, 4);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: aliceblue;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
button:hover {
  transform: scale(1.04);
}
.birds {
  background-color: rgb(107, 156, 33);
  color: rgb(226, 222, 222);
}
.flowers {
  background-color: rgb(240, 66, 240);
}
img {
  width: 350px;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in-out;
}
img:hover {
  transform: scale(1.04);
}
@media screen and (max-width: 768px) {
  img {
    width: 250px;
  }
}
#flowersOrBirds {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
